.git
.DS_Store
.env
.env.*
backend/.env
frontend/.env.local
node_modules
backend/dist
frontend/dist
frontend/tsconfig.tsbuildinfo
npm-debug.log
external-payment-php/config/config.php
external-payment-php/storage
external-payment-php/xlb
external-payment-php/public/*.zip
frontend/public/assets/img/logo.png
